:root {
	--green: #008000;
	--white: #FFF;
	--orange: #FFA500;
	--red: #F00;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #EFEFEF;
	font-family: "Roboto", sans-serif;
}

.exit-btn {
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin: 18px 5% 0;
	width: 50%;
	height: 40px;
	background: var(--white);
	color: var(--red);
	text-decoration: none;
	border-radius: 21px;
	font-size: 18px;
	border: 1px solid var(--red);
	font-weight: 700;
	transition: background .4s ease-out, color .4s ease-out;
}

.exit-btn:hover {
	background: var(--red);
	color: var(--white);
	transition: background .4s ease-out, color .4s ease-out;
}

main {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

table {
	max-width: 1200px;
	width: 100%;
	text-align: center;
	background: #FFF;
	border-spacing: 0;
}


thead {
	background: var(--green);
	color: var(--white);
}

tbody tr:nth-child(even) {
	background: #7DDB7D;
}

th, td {
	padding: 15px;
}

td a {
	text-decoration: none;
	font-size: 18px	;
}

a.update-link {
	color: var(--green);
}

a.delete-link {
	color: var(--red);	
}
